// footer

.footerNavbar{
    box-shadow: 0px -4px 4px 0px #0000000A;

    .footIcon-barChart{
        background: url(../assets/images/icon/24px/solid/barChart.svg) no-repeat;
        width: 24px;
        height: 24px;
    }
    .footIcon-document{
        background: url(../assets/images/icon/24px/solid/document.svg) no-repeat;
        width: 24px;
        height: 24px;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
        color: #1AA3DD !important;
        background: white;
        .footIcon-barChart{
            background: url(../assets/images/icon/24px/solid/barChart-blue.svg) no-repeat;
        }
        .footIcon-document{
            background: url(../assets/images/icon/24px/solid/document-blue.svg) no-repeat;
        }
    }
}

.footerLine{
    background: #000;
    width: 134px;
    height: 5px;
    border-radius: 50rem;
    margin: 0 auto;
}
