// APP進入頁 登入畫面 -- 倫倫

#loading {
  display: none; /* 預設隱藏 */
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #52c1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;

  // p {
  //   font-weight: 900;
  // }
}

/* 定義字母逐個顯示的樣式 */
.fadeInText img {
  opacity: 0; /* 初始狀態下文字不可見 */
  animation: fadeIn 0.5s forwards; /* 使用fadeIn動畫，逐個字母顯示 */
}

/* 定義動畫的逐漸顯現效果 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 給每個字母設置不同的動畫延遲時間 */
.fadeInText img:nth-child(1) {
  animation-delay: 0s;
}
.fadeInText img:nth-child(2) {
  animation-delay: 0.5s;
}
.fadeInText img:nth-child(3) {
  animation-delay: 1s;
}
.fadeInText img:nth-child(4) {
  animation-delay: 1.5s;
}

// 改變實心星星的動畫

@keyframes changeSolid {
  0% {
    transform: scale(1); //26px
  }
  17% {
    transform: scale(0.8); //20px
    opacity: 0.6;
  }
  34% {
    transform: scale(1.2); //32px
    opacity: 0.9;
  }
  51% {
    transform: scale(0.8); //20px
    opacity: 0.6;
  }
  68% {
    transform: scale(0.9); //22px
    opacity: 0.9;
  }

  85% {
    transform: scale(0.8); //20px
    opacity: 0.6;
  }
  100% {
    transform: scale(1); //26px
    opacity: 0.9;
  }
}

.changeSolid {
  position: absolute;
  top: -26px;
  animation-name: changeSolid;
  animation-duration: 2s;
  // animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0.6;
}

// 改變空心星星的動畫

@keyframes change {
  0% {
    transform: scale(1); //20px
  }
  17% {
    transform: scale(1.2); //24px
    opacity: 0.6;
  }
  34% {
    transform: scale(1); //20px
    opacity: 0.9;
  }
  51% {
    transform: scale(1.5); //30px
    opacity: 0.9;
  }
  68% {
    transform: scale(1); //20px
    opacity: 0.6;
  }

  85% {
    transform: scale(1.5); //30px
    opacity: 0.9;
  }
  100% {
    transform: scale(1); //20px
    opacity: 0.6;
  }
}

.change {
  position: absolute;
  top: 50%;
  left: -38px;
  animation-name: change;
  animation-duration: 2s;
  // animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0.6;
}

// logo走路

@keyframes logoWalk {
  0% {
    transform: rotate(0); // 角度沒變
  }
  17% {
    transform: rotate(8.38deg); // 角度 8.38
  }
  34% {
    transform: rotate(-1.19deg); // 角度 -1.19
  }
  51% {
    transform: rotate(5.4deg); // 角度 5.4
  }
  68% {
    transform: rotate(-0.28deg); // 角度 -0.28
  }

  85% {
    transform: rotate(5.4deg); // 角度 5.4
  }
  100% {
    transform: rotate(-0.28deg); // 角度 -0.28
  }
}

.logoWalk {
  animation-name: logoWalk;
  animation-duration: 2s;
  // animation-delay: 1s;
  animation-fill-mode: forwards;
}

// 搜尋欄位樣式

.bi::before,
[class*=" bi-"]::before {
  vertical-align: 0px;
}
.searchAndLabel-position-zindex {
  z-index: 100;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  // padding: 12px 16px;
}
.input-img {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}
.input-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 52px;
  padding-right: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-width {
  width: 100%;
  max-width: 100%;
}

// 取消input瀏覽器默認的歷史搜尋紀錄背景樣式
.mapIndex {
  .input-wrapper {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px white inset; /* 设置背景颜色为白色 */
      box-shadow: 0 0 0 1000px white inset;
      -webkit-text-fill-color: #000; /* 设置文本颜色为黑色 */
    }
  }
}

//新增地圖圖標
.mapWrap {
  height: 100vh;
  background-image: url(/AAPDxHex-team19/assets/images/map.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.specialWarningOffIcon {
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 60;
}

.securityLevel5OffIcon {
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 60;
}

.iconContainer {
  width: 40px; /* Width of the larger icon */
  height: 44px; /* Height of the larger icon */
  display: inline-block; /* Prevents layout shifts */
  // overflow: hidden;
  & > img {
    cursor: pointer;
  }
}

.clickChangeIconMiddle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.iconOriginWidthHeight {
  width: 24px;
  height: 27px;
}

.iconChangeWidthHeight {
  width: 40px;
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.policeStationOffIcon {
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;

  z-index: 60;
}

.hospitalOffIcon {
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;

  z-index: 60;
}

.hotelIcon {
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 44px;
  cursor: pointer;
  z-index: 60;
}

.centerArrowWrap {
  display: inline-block;
  // position: relative;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
}

.centerArrowIcon {
  vertical-align: middle;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 60;
}

.circleOriginal {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%) translate(16px, 12px);
  z-index: 40;
}

.circleSmall {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%) translate(16px, 12px);
  z-index: 50;
}

.circleBig {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%) translate(16px, 12px);
  z-index: 40;
}

.policeStationLabelWrap,
.hospitalLabelWrap,
.pharmacyLabelWrap,
.refugeLabelWrap,
.embassyLabelWrap {
  &:hover {
    cursor: pointer;
  }
}

.countryInfoWrap {
  display: inline-block;
  padding: 6px 8px;
  background-color: #fff;
  width: 104px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  position: absolute;
  top: 61%;
  left: 24px;
  transform: translateY(-100%) translateY(-16px);
  z-index: 100;
}

.infoAndFloatWrapLeftChangePosition {
  top: 100%;
  transform: translateY(-100%) translateY(-174px);
}

.walkAndCenterAimWrapContainer {
  position: absolute;
  top: 61%;
  right: 24px;
  transform: translateY(-100%) translateY(-16px);
  z-index: 100;
}

.infoAndFloatWrapRightChangePosition {
  top: 100%;
  transform: translateY(-100%) translateY(-174px);
}

.walkAndCenterAimWrap {
  border-radius: 50%;
  width: 40px;
  height: 40px;

  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.hidden {
  display: none;
}

.labelClickChangeStyle {
  color: #fff;
  background: #67c575;
}

// 標籤橫向移動卷軸
.scrollable-container {
  overflow-x: auto; //開啟橫向滾動
  white-space: nowrap;
  scroll-behavior: smooth; /* 平滑滾動 */
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 440px) {
  .scrollable-container {
    justify-content: flex-start;
  }
}

.scrollable-container::-webkit-scrollbar {
  display: none; /* 隱藏滾動條 */
}

//
.locationInfo {
  width: 100%;
  z-index: 30;
}

.travelerCommentChangeStyle {
  background: #1aa3dd;
  color: #fff;
}

.myselfSafeStyle {
  background: #f1f9fe;
  color: #1aa3dd;
}

.myselfNormalStyle {
  background: #e5f8e8;
  color: #67c575;
}

.myselfTakecareStyle {
  background: #ffe9d4;
  color: #ef8363;
}

.progressWidth {
  width: 44px;
}

// 曼谷最新資訊展開
.my-div {
  position: absolute;
  top: 61%; // 68
  transition: top 0.5s ease; /* 添加過渡效果 */
  z-index: 100;
}

.my-div.expanded {
  top: 0; /* 當展開時，讓 div 滑動到視窗的頂部 */
  height: 100%;
  z-index: 1000;
  padding-top: 113px;
  padding-bottom: 130px;
  border-radius: 0px;
  height: 100vh;
  overflow-y: scroll;
}

.my-div.collapsed {
  top: 100%;
  transform: translateY(-158px);
}

.labelDetailButton {
  border: 1px solid #1aa3dd;
  border-radius: 12px;
  background-color: #fff;
  width: 145px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.textEllipsis {
  white-space: nowrap; /* 防止文本換行 */
  overflow: hidden; /* 隱藏超出寬度的部分 */
  text-overflow: ellipsis; /* 將多餘的文字顯示為省略號 */
}

@media screen and (max-width: 352px) {
  .textEllipsis {
    width: 240px; /* 設定寬度 */
  }
}

.draggable-background .modal-header {
  border-bottom: none;
  padding: 24px;
}

.offcanvas.offcanvasForIndex {
  --bs-offcanvas-border-color: none;
  height: 360px;
  border-radius: 24px;
  position: absolute;
  overflow-y: scroll;
}

.offcanvas.offcanvas-bottom {
  bottom: 0;
}

.offcanvas.specialWarningOffcanvas {
  --bs-offcanvas-height: 52vh;
  overflow-y: scroll;
  z-index: 1020;
  padding-bottom: 100px;
}

.countryInfoModalWrap {
  --bs-modal-border-radius: 24px;
}

.countryInfoModal {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.countryInfoModal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cus-fixed {
  position: fixed;
  width: calc(100% - 48px);
  height: 113px;
  top: 0;
  background-color: #fff;
}

// // 搜尋到時的彈跳畫面

// // @keyframes searchAnimation {
// //   0% {
// //     transform: translateY(0px);
// //   }

// //   25% {
// //     transform: translateY(-10px);
// //   }

// //   50% {
// //     transform: translateY(0px);
// //   }

// //   75% {
// //     transform: translateY(-5px);
// //   }

// //   100% {
// //     transform: translateY(0px);
// //   }
// // }

// // .searchAnimation {
// //   animation: searchAnimation 1s 1; /* 应用动画 */
// // }
