// APP進入頁 登入畫面 -- 倫倫

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #52c1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  p {
    font-weight: 900;
  }
}

/* 定義字母逐個顯示的樣式 */
.fadeInText span {
  opacity: 0; /* 初始狀態下文字不可見 */
  animation: fadeIn 0.5s forwards; /* 使用fadeIn動畫，逐個字母顯示 */
}

/* 定義動畫的逐漸顯現效果 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 給每個字母設置不同的動畫延遲時間 */
.fadeInText span:nth-child(1) {
  animation-delay: 1s;
}
.fadeInText span:nth-child(2) {
  animation-delay: 2s;
}
.fadeInText span:nth-child(3) {
  animation-delay: 3s;
}
.fadeInText span:nth-child(4) {
  animation-delay: 4s;
}

// 改變實心星星的動畫

@keyframes changeSolid {
  0% {
    transform: scale(1); //26px
  }
  17% {
    transform: scale(0.8); //20px
    opacity: 0.6;
  }
  34% {
    transform: scale(1.2); //32px
    opacity: 0.9;
  }
  51% {
    transform: scale(0.8); //20px
    opacity: 0.6;
  }
  68% {
    transform: scale(0.9); //22px
    opacity: 0.9;
  }

  85% {
    transform: scale(0.8); //20px
    opacity: 0.6;
  }
  100% {
    transform: scale(1); //26px
    opacity: 0.9;
  }
}

.changeSolid {
  position: absolute;
  top: -26px;
  animation-name: changeSolid;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0.6;
}

// 改變空心星星的動畫

@keyframes change {
  0% {
    transform: scale(1); //20px
  }
  17% {
    transform: scale(1.2); //24px
    opacity: 0.6;
  }
  34% {
    transform: scale(1); //20px
    opacity: 0.9;
  }
  51% {
    transform: scale(1.5); //30px
    opacity: 0.9;
  }
  68% {
    transform: scale(1); //20px
    opacity: 0.6;
  }

  85% {
    transform: scale(1.5); //30px
    opacity: 0.9;
  }
  100% {
    transform: scale(1); //20px
    opacity: 0.6;
  }
}

.change {
  position: absolute;
  top: 50%;
  left: -38px;
  animation-name: change;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0.6;
}

// logo走路

@keyframes logoWalk {
  0% {
    transform: rotate(0); // 角度沒變
  }
  17% {
    transform: rotate(8.38deg); // 角度 8.38
  }
  34% {
    transform: rotate(-1.19deg); // 角度 -1.19
  }
  51% {
    transform: rotate(5.4deg); // 角度 5.4
  }
  68% {
    transform: rotate(-0.28deg); // 角度 -0.28
  }

  85% {
    transform: rotate(5.4deg); // 角度 5.4
  }
  100% {
    transform: rotate(-0.28deg); // 角度 -0.28
  }
}

.logoWalk {
  animation-name: logoWalk;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

//

.bi::before,
[class*=" bi-"]::before {
  vertical-align: 0px;
}

.position-absolute {
  z-index: 10;
}

// n. vmp6
.input-wrapper {
  position: relative;
  margin-top: 60px;
  display: inline-block;
  padding: 12px 16px;
}
.input-img {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  cursor: pointer;
}
.input-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-width {
  width: 327px;
}

// 取消input瀏覽器默認的歷史搜尋紀錄背景樣式
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset; /* 设置背景颜色为白色 */
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #000; /* 设置文本颜色为黑色 */
}

//新增地圖圖標
.draggable-background {
  // width: 375px;
  height: 100vh; /* 设置div的高度，可以根据需要调整 */
  background-image: url(../assets/images/bgMapAll.png);
  // background-size: 1000px 1000px;
  background-size: cover;
  background-position: -430px 0;
  background-repeat: no-repeat; /* 防止背景重复 */
  // border: 1px solid #000;
  cursor: grab;
  position: relative; /* 让icon能相对于div定位 */
  overflow: hidden; /* 隐藏超出div的部分 */
}

.securityLevel5icon1 {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 230px; /* icon在图片上的x坐标 */
  top: 150px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.securityLevel5icon2 {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 500px; /* icon在图片上的x坐标 */
  top: 240px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.securityLevel5icon3 {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 710px; /* icon在图片上的x坐标 */
  top: 690px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.securityLevel5icon4 {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 510px; /* icon在图片上的x坐标 */
  top: 730px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.specialWarningIcon {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 660px; /* icon在图片上的x坐标 */
  top: 510px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.policeStationiconIcon1 {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 230px; /* icon在图片上的x坐标 */
  top: 380px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.policeStationiconIcon2 {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 340px; /* icon在图片上的x坐标 */
  top: 400px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.policeStationiconIcon3 {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 260px; /* icon在图片上的x坐标 */
  top: 530px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.hospitalIcon1 {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 90px; /* icon在图片上的x坐标 */
  top: 560px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.hospitalIcon2 {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 140px; /* icon在图片上的x坐标 */
  top: 420px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.hospitalIcon3 {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 290px; /* icon在图片上的x坐标 */
  top: 410px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.hotelIcon {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 280px; /* icon在图片上的x坐标 */
  top: 490px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.centerIcon {
  position: absolute;
  width: 50px; /* icon的宽度 */
  height: 50px; /* icon的高度 */
  left: 560px; /* icon在图片上的x坐标 */
  top: 510px; /* icon在图片上的y坐标 */
  display: none; /* 初始状态下不可见，等到背景移动到icon可见范围时才显示 */
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.bg-smallCircle {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 435px;
  top: 385px;
  display: none;
  background: #84d3f5;
  opacity: 0;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: expandSmallCircleFade 6s infinite; /* 应用动画 */
}

/* 定义动画 */
@keyframes expandSmallCircleFade {
  0% {
    transform: scale(0); /* 初始缩小状态 */
    opacity: 0; /* 初始透明度 */
  }

  50% {
    transform: scale(1); /* 扩展后状态 */
    opacity: 0.25; /* 最终透明度 */
  }

  100% {
    transform: scale(1); /* 扩展后状态 */
    opacity: 0; /* 最终透明度 */
  }
}

.bg-bigCircle {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 275px;
  top: 235px;
  display: none;
  background: #84d3f5;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: expandBigCircleFade 6s infinite; /* 应用动画 */
}

/* 定义动画 */
@keyframes expandBigCircleFade {
  0% {
    transform: scale(0); /* 初始缩小状态 */
    opacity: 0; /* 初始透明度 */
  }

  50% {
    transform: scale(1); /* 扩展后状态 */
    opacity: 0.15; /* 最终透明度 */
  }

  100% {
    transform: scale(1); /* 扩展后状态 */
    opacity: 0; /* 最终透明度 */
  }
}

// .bg-bigCircle {
//   animation-delay: 3s;  延迟2秒
// }

.myCanvas {
  width: 250px; /* 可以根据需要调整大小 */
  height: 160px; /* 由边长计算得出 */
  opacity: 0.1;
  position: absolute;
  transform: rotate(9deg);
}

.policeStationLabelWrap > img {
  &:hover {
    cursor: pointer;
  }
}

.hospitalLabelWrap > img {
  &:hover {
    cursor: pointer;
  }
}

.pharmacyLabelWrap > img {
  &:hover {
    cursor: pointer;
  }
}

.refugeLabelWrap > img {
  &:hover {
    cursor: pointer;
  }
}
.embassyLabelWrap > img {
  &:hover {
    cursor: pointer;
  }
}

// 標籤橫向移動卷軸
.scrollable-container {
  display: flex;
  overflow-x: auto; /* 開啟橫向滾動 */
  scroll-behavior: smooth; /* 平滑滾動 */
}

.scrollable-container::-webkit-scrollbar {
  display: none; /* 隱藏滾動條 */
}

//
.locationInfo {
  // position: absolute;
  width: 100%;
  z-index: 30;
}

.commentWidth {
  width: 70px;
  height: 29px;
}

.progressWidth {
  width: 44px;
}

.text-cuswidth {
  width: 65px;
}

//
.my-div {
  position: absolute;
  top: 78%;

  // width: 100%;
  // height: 200px;
  // background: #f0f0f0;
  transition: top 0.5s ease; /* 添加過渡效果 */
}

.my-div.expanded {
  top: 0; /* 當展開時，讓 div 滑動到視窗的頂部 */
  height: 100%;
}

.my-div.collapsed {
  top: 90%; /* 當收起時，讓 div 移動到 top: 300px 的位置 */
}

//
// .labelDetailWrap {
//   position: absolute;
//   z-index: 30;
//   width: 100%;
//   border-radius: 20px;
// }

.labelDetailButton {
  border: 1px solid #1aa3dd;
  border-radius: 12px;
  background-color: #fff;
  width: 145px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.textEllipsis {
  width: 240px; /* 設定寬度 */
  white-space: nowrap; /* 防止文本換行 */
  overflow: hidden; /* 隱藏超出寬度的部分 */
  text-overflow: ellipsis; /* 將多餘的文字顯示為省略號 */
}

// 資訊展開

// .labelDetailWrap {
//   position: absolute;
//   top: 100%;
//   display: none;
//   transition: top 0.5s ease;
// }

// .labelDetailWrap.detailexpanded {
//   top: 0;當展開時，讓 div 滑動到視窗的頂部
//   height: 100%;
//   display: block;
// }

// .labelDetailWrap.detailcollapsed {
//   top: 100%;  當收起時，讓 div 移動到 top: 300px 的位置
// }

.offcanvas {
  --bs-offcanvas-height: 43vh;
  --bs-offcanvas-border-color: none;
  // border-radius: 50%;
  position: absolute;
}

.offcanvas-bottom {
  bottom: 0%; /* 讓 offcanvas 從頂部開始 */
}

.specialWarningOffcanvas {
  --bs-offcanvas-height: 30vh;
}

.infoAndFloatWrap {
  position: absolute;
  top: 65%;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.infoAndFloatWrapChangePosition {
  top: 77%;
}

.draggable-background .modal-header {
  border-bottom: none;
  padding: 24px;
}
