// latestNews navbar
.latestNews {
  box-shadow: 0px 4px 4px 0px #0000000a;
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: #fff;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      background: #000;
      bottom: 0;
      left: 0;
      border-radius: 50rem;
      margin-top: 4px;
    }
  }
}

// 旅人動態
.safetyButton {
  .nav-link {
    background: $white;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    padding: 6px 12px;
    color: #292929;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background: #1aa3dd;
    border: 1px solid #1aa3dd;
    color: $white;
    .text-neutrals-400 {
      color: $white !important;
    }
  }
  .nav-pills .navNoColor.active,
  .safetyButton .nav-pills .show > .nav-link {
    background: $white;
    border: 1px solid $white;
    color: #989898;
  }
}

.safety {
  background: url(/AAPDxHex-team19/assets/images/emojiHappy-gray989898.svg)
    no-repeat;
  width: 16px;
  height: 16px;
}
.ordinary {
  background: url(/AAPDxHex-team19/assets/images/emojiNormal-gray989898.svg)
    no-repeat;
  width: 16px;
  height: 16px;
}
.wrining {
  background: url(/AAPDxHex-team19/assets/images/emojiSad-gray989898.svg)
    no-repeat;
  width: 16px;
  height: 16px;
}

.btnSafety,
.btnOrdinary,
.btnWrining,
.btnBlue {
  border: 1px solid $neutrals-200;
  border-radius: 12px;
}
.btn-check:focus + .btnBlue,
:not(.btn-check) + .btnBlue:active,
.btnBlue.active,
.btnBlue:focus {
  background: #1aa3dd;
  border: 1px solid #1aa3dd;
  color: #fff;
}
.btn-check:focus + .btnSafety + .btn:active,
.btn:first-child:active,
.btn.active,
.btnSafety:focus {
  background: #f1f9fe;
  border: 1px solid #f1f9fe;
  color: #1aa3dd;
  .safety {
    background: url(/AAPDxHex-team19/assets/images/emojiHappy.svg) no-repeat;
  }
}
.btn-check:focus + .btnOrdinary,
:not(.btn-check) + .btnOrdinary:active,
.btnOrdinary.active,
.btnOrdinary:focus {
  background: #e5f8e8;
  border: 1px solid #e5f8e8;
  color: #67c575;
  .ordinary {
    background: url(/AAPDxHex-team19/assets/images/emojiNormal.svg) no-repeat;
  }
}
.btn-check:focus + .btnWrining,
:not(.btn-check) + .btnWrining:active,
.btnWrining.active,
.btnWrining:focus {
  background: #ffe9d4;
  border: 1px solid #ffe9d4;
  color: #ef8363;
  .wrining {
    background: url(/AAPDxHex-team19/assets/images/emojiSad.svg) no-repeat;
  }
}
.enterShare::placeholder {
  color: $neutrals-400;
  font-size: 14px;
}
