<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員未登入</title>
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-between mb-6">
            <h3 class="heading-sm fw-bold">會員</h3>
            <img src="../assets/images/notify.png" alt="notify" />
          </div>
          <div
            class="radius-m p-4"
            style="background: linear-gradient(to right, #84d3f5, #52c1ef)"
          >
            <div
              class="d-flex align-items-center border-bottom border-brand-200 pb-3"
            >
              <img
                src="../assets/images/avator/size=40x40, img=default.png"
                alt="size=40x40, img=default"
              />
              <div class="ms-4">
                <p class="heading-xs fw-bold text-brand-950">Hi，旅人</p>
                <div class="mt-1 d-flex align-items-center">
                  <a href="#" class="body-text-xs text-brand-700">
                    查看所有等級
                  </a>
                  <img
                    src="../assets/images/arrowRightS.png"
                    alt="arrowRightS"
                  />
                </div>
              </div>
            </div>
            <div class="mt-3 d-flex align-items-center justify-content-between">
              <p class="body-text-sm text-brand-950">
                成為安全旅人，<br />一起讓世界旅遊更友善！
              </p>
              <button
                type="button"
                class="radius-s text-brand-500 bg-white body-text-md fw-bold py-2 px-3 border border-brand-500"
                onclick="window.location.href='memberLogin.html';"
              >
                登入 / 註冊
              </button>
            </div>
          </div>
          <ul class="list-unstyled mt-4 mb-0">
            <li class="radius-m bg-neutrals-50 p-4 d-flex align-items-center">
              <img src="../assets/images/mail.png" alt="mail" />
              <p class="body-text-sm ms-3">錯誤資訊回報</p>
              <img
                src="../assets/images/arrowRight.png"
                alt="arrowRight"
                class="ms-auto"
              />
            </li>
            <li
              class="radius-m bg-neutrals-50 p-4 d-flex align-items-center my-2"
            >
              <img src="../assets/images/emojiHappy.png" alt="emojiHappy" />
              <p class="body-text-sm ms-3">關於安全旅人</p>
              <img
                src="../assets/images/arrowRight.png"
                alt="arrowRight"
                class="ms-auto"
              />
            </li>
            <li class="radius-m bg-neutrals-50 p-4 d-flex align-items-center">
              <img src="../assets/images/memberSafe.png" alt="memberSafe" />
              <p class="body-text-sm ms-3">隱私權與使用者政策</p>
              <img
                src="../assets/images/arrowRight.png"
                alt="arrowRight"
                class="ms-auto"
              />
            </li>
          </ul>
        </div>
      </div>
    </section>

    <%- include('./layout/footer', {page: "member" }); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
