<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>旅遊資訊｜平安旅人</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="bg-white w-100 position-fixed z-3 top-0" style="height: 64px;"></div>
        <main class="container px-6 pb-9">
            <h4 class="heading-sm pt-3 pb-2">旅遊資訊</h4>
            <div class="py-6">
                <section class="p-4 mb-6 radius-m"
                    style="background: linear-gradient(119.71deg, #84D3F5 19.14%, #52C1EF 89.61%); box-shadow: 0px 4px 12px 0px #52C1EF80;">
                    <div class="d-flex align-items-center">
                        <img class="me-3" src="../assets/images/img/books.png" alt="book"
                            style="width: 90px;height: 94px;">
                        <div class="body-text-sm text-white">
                            <p class=" fw-bold">關於安全旅遊</p>
                            <p>親愛的旅人，這裡有各式旅行安全資訊，希望能幫助您開心出遊平安回家</p>
                        </div>
                    </div>
                </section>
                <a href="latestNews.html" class="bg-neutrals-100 px-4 py-6 radius-m d-block mb-6">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="position-relative" style="width: 136px;">
                            <img class="position-absolute translate-middle-y top-50 z-1 start-0 border border-3 border-white rounded-pill" src="../assets/images/avator/size=56x56, img=user A.png" alt="photo" style="width: 56px;height: 56px;">
                            <img class="position-absolute translate-middle-y top-50 z-2 border border-3 border-white rounded-pill" src="../assets/images/avator/size=56x56, img=user D.png" alt="photo" style="width: 56px;height: 56px; left: 40px;">
                            <img class="position-absolute translate-middle-y top-50 z-3 border border-3 border-white rounded-pill" src="../assets/images/avator/size=56x56, img=user B.png" alt="photo" style="width: 56px;height: 56px; left: 80px;">
                        </div>
                        <p class="body-text-sm me-2 text-neutrals-950"><span class="fw-bold">旅遊達人</span><br>帶你更了解世界</p>
                        <img src="../assets/images/icon/24px/line/arrowRightS.svg" alt="photo">
                    </div>
                </a>
                <p class="body-text-sm fw-bold mb-3">安全資訊</p>
                <div class="d-flex justify-content-center align-items-center mb-30">
                    <div class="bg-brand-50 text-center w-100 p-6 radius-m">
                        <img src="../assets/images/img/earth.png" alt="photo" style="width: 82px;height: 82px;">
                        <p class="body-text-sm fw-bold mb-3">國家旅遊資訊</p>
                    </div>
                    <div class="bg-brand-50 text-center w-100 ms-4 p-6 radius-m">
                        <img src="../assets/images/img/book.png" alt="photo" style="width: 82px;height: 82px;">
                        <p class="body-text-sm fw-bold mb-3">緊急自救指南</p>
                    </div>
                </div>
            </div>
        </main>

        <%- include('./layout/footer', {page: "travel" }); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>